
<div class="container">

    <h1 class="text-center">Administrator Features</h1>

    <section class="section-container">

        <div class="d-grid gap-2 col-6 mx-auto mt-5">
            <a class="btn btn-primary " asp-area="Admin" asp-controller="MarketDataPlan" asp-action="Index"><i class="fa-solid fa-money-bill-trend-up"></i> CoinMarketCap API Details</a>
            <a class="btn btn-primary " asp-area="Admin" asp-controller="Crypto" asp-action="Index"><i class="fa-solid fa-list"></i> Crypto Assets Maintenance</a>
        </div>


        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                
            </li>
            <li class="nav-item">
                
            </li>
            @*    <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Exchange" asp-action="Index">Exchange Maint</a>
            </li>*@

        </ul>
    </section>
</div>
