<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="manifest" href="~/manifest.json">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AltFuture</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AltFuture.WebApp.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mb-4">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AltFuture</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" id="myPortfolioDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                My Portfolio
                            </a>
                            <div class="dropdown-menu dropdown-menu-dark shadow-sm" aria-labelledby="myPortfolioDropdown">
                                <a class="nav-link" asp-area="Portfolios" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link" asp-area="Portfolios" asp-controller="Transactions" asp-action="Index">Transaction Details</a>
                                <a class="nav-link" asp-area="Portfolios" asp-controller="TransactionImports" asp-action="Index">Import Transactions</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Site Admin
                            </a>
                            <div class="dropdown-menu dropdown-menu-dark shadow-sm" aria-labelledby="adminDropdown">
                                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Menu</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link" asp-area="Admin" asp-controller="MarketDataPlan" asp-action="Index">CoinMarketCap API Details</a>
                                <a class="nav-link" asp-area="Admin" asp-controller="Crypto" asp-action="Index">Crypto Maint</a>
                            </div>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li>
                            <a class="nav-link" href="https://github.com/jgogola/AltFuture" target="_blank" title="Explore the code that built this site."><i class="fa-brands fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2023 - AltFuture.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/df30cbbc0d.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/service-worker.js').then(registration => {
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, err => {
                    console.log('ServiceWorker registration failed: ', err);
                }).catch(err => {
                    console.log(err)
                });
            });
        }
    </script>

</body>
</html>
