@model Transaction

@{
    ViewData["Title"] = "Create Transaction";
}


<div class="container">
    <h1 class="text-center">Create Transaction</h1>

    <section class="section-container">
        <div class="row text-light mt-5 mb-5">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                    <div class="form-group">
                        <label asp-for="TransactionReferenceNum" class="control-label"></label>
                        <input asp-for="TransactionReferenceNum" class="form-control" />
                        <span asp-validation-for="TransactionReferenceNum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CryptoId" class="control-label"></label>
                        <select asp-for="CryptoId" class ="form-control" asp-items="ViewBag.CryptoId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fee" class="control-label"></label>
                        <input asp-for="Fee" class="form-control" />
                        <span asp-validation-for="Fee" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TransactionTotal" class="control-label"></label>
                        <input asp-for="TransactionTotal" class="form-control" />
                        <span asp-validation-for="TransactionTotal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TransactionDate" class="control-label"></label>
                        <input asp-for="TransactionDate" class="form-control" />
                        <span asp-validation-for="TransactionDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FromExchangeId" class="control-label"></label>
                        <select asp-for="FromExchangeId" class ="form-control" asp-items="ViewBag.FromExchangeId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ToExchangeId" class="control-label"></label>
                        <select asp-for="ToExchangeId" class ="form-control" asp-items="ViewBag.ToExchangeId"></select>
                    </div>
                    <div class="form-group mt-5 text-center">
                        <a asp-action="Index" class="btn btn-info btn-sm me-3">
                            <i class="fa-solid fa-right-to-bracket fa-rotate-180"></i>
                            Back to List
                        </a>
                        <input type="submit" value="Create" class="btn btn-success btn-sm ps-5 pe-5" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
