@model TransactionEdit

@{
    ViewData["Title"] = "Edit Transaction";
}

<div class="container">

    <section class="section-page-header">
        <h1 class="text-center">Edit Transaction</h1>
        <a class="close-page" asp-controller="Transactions" asp-action="Index" title="Return to transaction history."><i class="fa-solid fa-rectangle-xmark"></i></a>
    </section>

    <section class="section-container">
        <div class="row text-light mt-5">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TransactionId" />
                    <input type="hidden" asp-for="AppUserId" />
                    <input type="hidden" asp-for="ExchangeTransactionTypeId" />
                    <input type="hidden" asp-for="CreatedDate" />

                    <div class="form-group">
                        <label asp-for="FromExchangeId" class="control-label"></label>
                        <select asp-for="FromExchangeId" class="form-select" asp-items="ViewBag.FromExchangeId" id="FromExchangeDDL"></select>
                        <span asp-validation-for="FromExchangeId" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-2">
                        <label asp-for="ExchangeTransactionTypeId" class="control-label"></label>
                        <select asp-for="ExchangeTransactionTypeId" class="form-select" asp-items="ViewBag.ExchangeTransactionTypeId" id="ExchangeTransactionTypeDDL">
                            <option value="">Loading values...</option>
                        </select>
                        <span asp-validation-for="ExchangeTransactionTypeId" class="text-danger"></span>
                        <input type="hidden" value="@Model.ExchangeTransactionTypeId" id="OriginalExchangeTransactionTypeIdValue" />
                    </div>

                    <div class="form-group mt-2">
                        <label asp-for="TransactionReferenceNum" class="control-label"></label>
                        <input asp-for="TransactionReferenceNum" class="form-control" />
                        <span asp-validation-for="TransactionReferenceNum" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="CryptoId" class="control-label"></label>
                        <select asp-for="CryptoId" class="form-select" asp-items="ViewBag.CryptoId"></select>
                        <span asp-validation-for="CryptoId" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="Fee" class="control-label"></label>
                        <input asp-for="Fee" class="form-control" />
                        <span asp-validation-for="Fee" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="TransactionTotal" class="control-label"></label>
                        <input asp-for="TransactionTotal" class="form-control" />
                        <span asp-validation-for="TransactionTotal" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="TransactionDate" class="control-label"></label>
                        <input asp-for="TransactionDate" class="form-control" />
                        <span asp-validation-for="TransactionDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="ToExchangeId" class="control-label"></label>
                        <select asp-for="ToExchangeId" class="form-select" asp-items="ViewBag.ToExchangeId"></select>
                        <span asp-validation-for="ToExchangeId" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3 fst-italic">
                        <label asp-for="CreatedDate" class="control-label"></label>:
                        <span asp-for="CreatedDate" class="text-light">@Model.CreatedDate.ToString("d")</span>
                    </div>
                    <div class="form-group mt-3 text-center">
                        <a asp-action="Index" class="btn btn-info btn-sm me-3">
                            <i class="fa-solid fa-right-to-bracket fa-rotate-180"></i>
                            Back to List
                        </a>
                        <input type="submit" value="Save" class="btn btn-success btn-sm ps-5 pe-5" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {

            function getExchangeTransactionTypesByExchangeId(exchangeId, originalExchangeTransactionTypeId) {
                $.getJSON("@Url.Action("GetExchangeTransactionTypesByExchangeId", "Transactions")", { exchangeId: exchangeId }, function (data) {
                    var items = "<option value=''>Select a transaction type...</option>";
                    $.each(data, function (i, exchangeTransactionType) {
                        console.log(`Current ID: ${exchangeTransactionType.value}, Orig ID: ${originalExchangeTransactionTypeId}`)
                        items += `<option ${exchangeTransactionType.value === originalExchangeTransactionTypeId ? 'selected' : ''} value='${exchangeTransactionType.value}'>${exchangeTransactionType.text}</option>`;
                    });

                    
                    console.log(items);
                    $("#ExchangeTransactionTypeDDL").html(items);
                });
            }

            
            var exchangeId = $("#FromExchangeDDL").val();
            var originalExchangeTransactionTypeId = $("#OriginalExchangeTransactionTypeIdValue").val();
            getExchangeTransactionTypesByExchangeId(exchangeId, originalExchangeTransactionTypeId);
           

            $("#FromExchangeDDL").change(function () {
                var exchangeId = $(this).val();
                getExchangeTransactionTypesByExchangeId(exchangeId,"");
            });
        });
    </script>
}
