
@{
    ViewData["Title"] = "Crypto.com Transaction Import";
}


<div class="container">
    <h1 class="mt-4">Upload Crypto.com CSV</h1>

    <form asp-controller="TransactionImports" asp-action="CryptoDotCom" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="csvFile">Choose CSV file</label>
            <input type="file" id="csvFile" name="csvFile" accept=".csv,.txt" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Upload</button>
    </form>
</div>