@{
    ViewData["Title"] = "Exchange Transaction Imports";
}


<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link" asp-controller="TransactionImports" asp-action="Coinbase">Coinbase Import</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="TransactionImports" asp-action="CoinbasePro">Coinbase Pro Import</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="TransactionImports" asp-action="CryptoDotCom">Crypto.com Import</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="TransactionImports" asp-action="Index">Kucoin Import</a>
    </li>

</ul>