html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5 {
    color: #f0b90b;
}

.section-container {
    padding-top: 15px;
    margin-top: 2px;
    border-top: 1px ridge #000;
}


.impact-label {
    color: #AAA;
    font-size: 1.2em;
}

.impact-value {
    color: #fff;
    font-weight: bold;
    font-size: 1.6em;
}


.trend-up-color {
    color: #00ff1e !important;
}

.trend-down-color {
    color: #ff5e5e !important;
}


.table-dark  th {
    color: #AAA;
    font-size: 1.1em;
}

.td-main-data {
    font-weight: bold;
}

.td-secondary-data {
    font-weight: normal;
    font-size: .8em;
    color: #ccc;
}

/*** BEGIN: Horizontal Scrolling Content Container */
        .horizontal-scrolling-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        height: 350px;
        margin-bottom: 20px;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }

        .horizontal-scrolling-container .scroll-card {
            flex: 0 0 auto;
            margin-right: 15px;
            background-color: #EEE;
            border: 5px solid #f0b90b;
            min-width: 360px;
            height: 350px;
        }  

        .horizontal-scrolling-container::-webkit-scrollbar {
            display: none;
        }

/*** EMD: Horizontal Scrolling Content Container */

/*** Begin: User Message Partial */

.userMsgContainer {
    position: fixed;
    bottom: 0;
    left: -100%;
    width: 300px;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.7);
    transition: left 2s ease-in-out;
    z-index: 1000;
}

    .userMsgContainer.active {
        left: 0;
    }

.userMsgTitleBar {
    position: relative;
    padding: 10px 10px 10px 30px;
}

.userMsgIcon {
    font-size: 24px;
}

.userMsgTitle {
    font-weight: bold;
}

.userMsgClose {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.userMsg {
    padding: 15px 10px 10px 30px;
    min-height: 100px;
}


/*** End: User Message Partial */


